<header class="header flex justify-around items-center mx-64 mt-6">
    <a href="/" class="header__logo text-3xl font-bold">Admin Panel</a>

    <nav>
        <ul class="flex items-center text-2xl font-semibold space-x-4">
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>

    </nav>


    <a class="underline" href="/logout">
        Logout
    </a>


</header>