<div class="flex justify-center items-center">
    <button id="toggleFormButton" class="mb-4">Toggle Search Form</button>
</div>
<div class="flex justify-center items-center">
    <form id="searchForm" action="/search" method="post" class="hidden">
        <label>
            <input name="submitted-name" autocomplete="name" placeholder="search" class="border p-2" />
        </label>
        <button class="ml-2 bg-blue-500 text-white p-2 rounded">search</button>
    </form>
</div>