<div class="flex flex-col items-center text-center w-screen">
    <div class="text-center my-12 font-bold text-4xl">
        <h1>
            <%=Data.title %>
        </h1>
    </div>
    <div class="mb-2 text-2xl">

        <p>
            <%= Data.body %>
        </p>

    </div>
</div>